body {
  font-family: Arial;
  background: #0e1424;
  color: white;
  text-align: center;
}

.box {
  width: 400px;
  margin: auto;
  padding: 20px;
  background: #111b34;
  border-radius: 10px;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  width: 95%;
  background: #4CAF50;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2e7d32;
}

.resultBox {
  width: 600px;
  margin: auto;
  background: #1a294b;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  white-space: pre-wrap;
  font-size: 17px;
}
